# Explore Zillow

In [1]:
# standard imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# custom imports
import wrangle_zillow as w

In [2]:
df = w.get_zillow_data()

In [3]:
df.shape

(77381, 69)

In [4]:
df = w.clean_zillow(df)

In [5]:
df.shape

(41062, 18)

In [7]:
df.describe()

,bath_cnt,bed_cnt,sqft,latitude,longitude,lot_sqft,total_rooms,year_built,assessed_value,log_error
count,41062.000000,41062.000000,41062.000000,4.106200e+04,4.106200e+04,41062.000000,41062.000000,41062.000000,4.106200e+04,41062.000000
mean,2.067191,3.194973,1657.989309,3.401962e+07,-1.181857e+08,6618.087185,6.155935,1961.603672,3.625712e+05,0.016138
std,0.713921,0.783544,582.561136,2.709749e+05,3.509184e+05,2036.753498,1.610426,21.879122,2.345757e+05,0.161264
min,1.000000,2.000000,152.000000,3.334062e+07,-1.194753e+08,1313.000000,3.000000,1878.000000,3.254000e+03,-4.655420
25%,2.000000,3.000000,1227.000000,3.382775e+07,-1.183764e+08,5400.000000,5.000000,1950.000000,1.711905e+05,-0.024234
50%,2.000000,3.000000,1540.000000,3.399876e+07,-1.181383e+08,6500.000000,6.000000,1959.000000,3.307080e+05,0.005653
75%,2.500000,4.000000,1991.000000,3.418785e+07,-1.179378e+08,7659.000000,7.000000,1976.000000,5.074972e+05,0.035796
max,4.000000,5.000000,3561.000000,3.471836e+07,-1.175546e+08,12493.000000,12.000000,2016.000000,1.081038e+06,3.175688

In [8]:
df.head()

,sale_date,bath_cnt,bed_cnt,sqft,latitude,longitude,lot_sqft,land_use_code,zoning_desc,total_rooms,year_built,assessed_value,census_tract_block,log_error,heating_system,land_use,county,zip
0,2017-01-01,3.5,4,3100,33634931,-117869207,4506,122,LAR1,8,1998,1023282.0,060590630072012,0.025595,Central,Single Family Residential,Orange,96978
2,2017-01-01,2.0,3,1243,33886168,-117823170,8432,122,LAR1,6,1962,564778.0,060590218022012,0.005383,Central,Single Family Residential,Orange,97078
7,2017-01-01,1.0,2,738,34149214,-118239357,4214,0100,GLR4YY,3,1922,218552.0,060373020041001,0.101723,Central,Single Family Residential,Los Angeles,96325
10,2017-01-02,3.0,4,2540,34434971,-118464390,10384,0101,SCUR2,8,1999,430108.0,060379200341014,0.005963,Central,Single Family Residential,Los Angeles,96374
15,2017-01-02,2.5,3,1371,34238229,-119170633,3445,1111,LAR1,6,2004,198054.0,061110050041163,0.008669,Central,Single Family Residential,Ventura,97107

## 1.

Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

In [10]:
df.heating_system.value_counts(normalize=True)

Central       0.708782
Floor/Wall    0.278774
Forced air    0.010350
Solar         0.001339
None          0.000390
Baseboard     0.000170
Radiant       0.000146
Gravity       0.000049
Name: heating_system, dtype: float64

***My questions:***
1. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?
2. Are properties with central heating worth more than those with other types?
    - Does this vary by county?
3. Is zip code related to assessed value?
4. Does lot size increase assessed value for similar sized houses (sqft)?
    - Bin houses by sf and compare to lot size
5. Is total rooms more correlated than beds or baths to assessed value?
6. How are latitude and longitude related to assessed value?
7. Is sqft related to log error?
    - bin by sqft?
8. Might need to think of some more that relate to log error

## 2.

Answer those questions through a mix of statistical tests and visualizations.

## Bonus

Compute the mean(logerror) by zipcode and the overall mean(logerror). Write a loop that will run a t-test between the overall mean and the mean for each zip code. We want to identify the zip codes where the error is significantly higher or lower than the expected error.